.box label:nth-child(1) i {
	background-image: url("images/01.jpg");
	animation: animate 0.8s steps(3) infinite;
}

.box label:nth-child(2) i {
	background-image: url("images/02.jpg");
	animation: animate 1s steps(3) infinite;
}

.box label:nth-child(3) i {
	background-image: url("images/03.jpg");
	animation: animate 1.2s steps(3) infinite;
}

.box label input:checked ~ i {
	animation-play-state: paused;
}
